########################
# DDR4-3200 Local DRAM: 2 channels, 1 rank
 standard = DDR4
 channels = 2
 ranks = 1
 speed = DDR4_3200
 org = DDR4_8Gb_x8
 record_cmd_trace = off
 print_cmd_trace = off
 cpu_tick = 8
 mem_tick = 3
 early_exit = on
 expected_limit_insts = 200000000
 warmup_insts = 0
 cache = no
 translation = None
########################
